<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Peva</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="navbar">
    <a href="/">Índice</a>
    <a href="/organizaciones">Organizaciones</a>
    <a href="/follones">Follones</a>
    <span>
      <a href="#">Registrarse</a>
      <a href="#">Conectarse</a>
    </span>
  </nav>

  <%- body %>
  
</body>
</html>